@charset "ISO-8859-1";

	:root { 
	--cor-um: #4f5e38;
	--cor-dois: #8aa958;
	--cor-tres: #a2af89;
	--cor-quatro: #d3eaac;
	--cor-cinco: #a6ce74;
	--cor-seis: #edfeed;
	}
	.container{
	background-color: white;
	text-align: center;
	margin: auto;
	width: 90%;
	height: 90vh;
	margin-top: 1em;
	border-radius: 15px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	min-width: 320px;
	max-width: 360px;
	min-height: 490px;
	}
	.ui-button{
	margin:0.1em;
	width:8em;
	}
    


	/* Estilo valido somente para firefox*/
	@-moz-document url-prefix('') {

	}
	
	
	
	

	@media only screen and (min-width: 820px){
	.container{
	background-color: white;
	text-align: center;
	margin: auto;
	width: 50%;
	height: 90vh;
	margin-top: 1em;
	border-radius: 15px;
	min-width: 380px;
	max-width: 420px;
	min-height: 490px;
	}
	.ui-button{
	margin:0.2em;
	width:9em;
	}

		
	}